### import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

### load csv files

In [2]:
df = pd.read_csv('grades.csv')
df1 = pd.read_csv('match.csv')

### View first 5 Raw

In [3]:
df.head()

      filename  StudentID  Mark
0  Img0001.png       6061    37
1  Img0002.png       7248    34
2  Img0003.png       8751    30
3  Img0004.png       5613    29
4  Img0005.png       5098    25

In [4]:
df1.head()

,Student Code,Name,Program,grp,sec,Hall
0,18P9516,Hassan Walid Ahmed Mohamed Kaddah,BLDG,1,1,A
1,18P2158,Seif Muhammad Abdelwahab Yakout Elkhodary,BLDG,1,1,A
2,18P2286,Ahmed Essam Eldin Ahmed Kotb Elshafie,CESS,1,1,A
3,18P1241,Aliaa Abd El Karim Bastawy,CESS,1,1,A
4,18P1121,Hager Khaled Mohamed Karkar,CESS,1,1,A

### Check if any ID Equal Zero

In [5]:
df[df['StudentID'] == 0]

        filename  StudentID  Mark
135  Img0008.png          0    27
624  Img0121.png          0    27

### Check if any Mark Equal Zero

In [6]:
df[df['Mark'] == 0]

Empty DataFrame
Columns: [filename, StudentID, Mark]
Index: []

### Check if there is any duplicates  StudentID

In [7]:
df[df.duplicated(['StudentID']) == True]

        filename  StudentID  Mark
604  Img0101.png       8600    34
605  Img0102.png       3138    26
606  Img0103.png       9183    20
607  Img0104.png       8693    33
608  Img0105.png       8171    35
609  Img0106.png       6097    19
610  Img0107.png       7625    26
611  Img0108.png       7551    29
612  Img0109.png       9595    30
613  Img0110.png       9123    36
614  Img0111.png       1092    28
615  Img0112.png       9061    30
616  Img0113.png       9253    30
617  Img0114.png       9550    35
618  Img0115.png       8559    30
619  Img0116.png       2824    34
620  Img0117.png       6791    24
621  Img0118.png       7441    33
622  Img0119.png       6575    29
623  Img0120.png       7572    25
624  Img0121.png          0    27
625  Img0122.png       1839    29
626  Img0123.png       8469    35
627  Img0124.png       5580    36
628  Img0125.png       2073    38
629  Img0126.png       7042    36
630  Img0127.png       6389    38
631  Img0128.png       3769    19
632  Img0129.png       9747    33
633  Img0130.png       6768    34

### Store non duplicates data in new variable

In [8]:
newDF = df[df.duplicated(['StudentID']) == False]

In [9]:
newDF

        filename  StudentID  Mark
0    Img0001.png       6061    37
1    Img0002.png       7248    34
2    Img0003.png       8751    30
3    Img0004.png       5613    29
4    Img0005.png       5098    25
5    Img0006.png       3102    33
6    Img0007.png       7884    29
7    Img0008.png       2998    36
8    Img0009.png       4305    29
9    Img0010.png       1086     8
10   Img0011.png       3059    26
11   Img0012.png       5595    20
12   Img0013.png       5854    30
13   Img0014.png       2322    29
14   Img0015.png       2277    24
15   Img0016.png       1115    30
16   Img0017.png       3446    37
17   Img0018.png       1603    32
18   Img0019.png       8906    25
19   Img0020.png       5654    28
20   Img0021.png       7773    26
21   Img0022.png       8231    36
22   Img0023.png       5813    36
23   Img0024.png       3172    27
24   Img0025.png       2189    29
25   Img0026.png       2958    25
26   Img0027.png       2264    28
27   Img0028.png       8064    28
28   Img0029.png       1196    29
29   Img0030.png       5465    22
..           ...        ...   ...
574  Img0071.png       5656    32
575  Img0072.png       6651    31
576  Img0073.png       5496    35
577  Img0074.png       7157    23
578  Img0075.png       6278    33
579  Img0076.png       6427    25
580  Img0077.png       6353    29
581  Img0078.png       2936    36
582  Img0079.png       8080    36
583  Img0080.png       7549    27
584  Img0081.png       7071    30
585  Img0082.png       6550    36
586  Img0083.png       5678    26
587  Img0084.png       7213    34
588  Img0085.png       6472    27
589  Img0086.png       5845    32
590  Img0087.png       6717    26
591  Img0088.png       9892    33
592  Img0089.png       6713    37
593  Img0090.png       9714    32
594  Img0091.png       1416    28
595  Img0092.png       8136    19
596  Img0093.png       3016    29
597  Img0094.png       6735    23
598  Img0095.png       5279    29
599  Img0096.png       2695    30
600  Img0097.png       9076    31
601  Img0098.png       3597    38
602  Img0099.png       4117    30
603  Img0100.png       3206    37

[604 rows x 3 columns]

### Save cleaned data in new csv file

In [10]:
newDF.to_csv('cleaned_grades.csv')

### Remove first 3 index in StudentID and convert it to int

In [11]:
df1['StudentID'] = df1['Student Code'].str[3:].astype(int)
type(df1['StudentID'].iloc[0])

numpy.int64

### Dropout "Student Code" column

In [12]:
df1.drop(['Student Code'], axis=1, inplace=True)
df1.head()

                                        Name Program  grp  sec Hall  StudentID
0          Hassan Walid Ahmed Mohamed Kaddah    BLDG    1    1    A       9516
1  Seif Muhammad Abdelwahab Yakout Elkhodary    BLDG    1    1    A       2158
2      Ahmed Essam Eldin Ahmed Kotb Elshafie    CESS    1    1    A       2286
3                Aliaa Abd El Karim Bastawy     CESS    1    1    A       1241
4                Hager Khaled Mohamed Karkar    CESS    1    1    A       1121

### Get a statistics info about data

In [13]:
newDF['Mark'].describe()

count    604.000000
mean      29.698675
std        4.658692
min        8.000000
25%       27.000000
50%       30.000000
75%       33.000000
max       38.000000
Name: Mark, dtype: float64

In [14]:
df1

,Name,Program,grp,sec,Hall,StudentID
0,Hassan Walid Ahmed Mohamed Kaddah,BLDG,1,1,A,9516
1,Seif Muhammad Abdelwahab Yakout Elkhodary,BLDG,1,1,A,2158
2,Ahmed Essam Eldin Ahmed Kotb Elshafie,CESS,1,1,A,2286
3,Aliaa Abd El Karim Bastawy,CESS,1,1,A,1241
4,Hager Khaled Mohamed Karkar,CESS,1,1,A,1121
5,Islam Tarek Mohammed Tantawi,CESS,1,1,A,1328
6,Mariam Yasser Mohamed Fathy Mohamed Ahmed Rezk,CESS,1,1,A,7703
7,Nourhan Hesham Sayed Ahmed Mazroa,CESS,1,1,A,1951
8,Omar Mohamed Tawfik Elsaeed Elkordy,CESS,1,1,A,2055
9,Ahmed Gamal Ahmed Mahmoud,COMM,1,1,A,1767
10,Ahmed Hossam Eldeen Ibrahim Ahmed,COMM,1,1,A,1247
11,Amir Khader Mahmoud Mohamed Abdelrahem,COMM,1,1,A,9190
12,Amira Ahmed Hassan Ahmed Elsibilgy,COMM,1,1,A,1039
13,Farida Mohamed Ahmed Shalapy,COMM,1,1,A,1474
14,Hana Amr Nour El Dien Mohamed Youssef,COMM,1,1,A,1062
15,Adham Magdy Abdelhady Amin Soliman,ERGY,1,1,A,1986
16,Ahmed Mohieldin Mohamed Aly Ghaly,ERGY,1,1,A,1756
17,Mohamed Emad Abdelrahman Mohamed Marey,ERGY,1,1,A,1735
18,Sarah El Sayed El Badawi Abd El Moneom,ERGY,1,1,A,1868
19,Youssef Mohamed Mohamed Mahmoud Farahat,ERGY,1,1,A,2970
20,Ziad Ashraf Ali Elsayed Khial,ERGY,1,1,A,1761
21,Ahmed Mohamed Elsayed Aldarawy,MANF,1,1,A,1105
22,Mohamed Tarek Hussien Omar Sedik,MANF,1,1,A,2299
23,Hadeel Emad Mohamed Said Rashed,MATL,1,1,A,1388
24,Ahmed Amr Mohamed Kamal,MCTA,1,1,A,1645
25,Ahmed Diaa Mohamed Salah Eldin Ahmed Metwally,MCTA,1,1,A,4189
26,Ammar Yasser Mahmoud Sleim Salem Elnemr,MCTA,1,1,A,6088
27,Amr Balegh Hamdy Ragab,MCTA,1,1,A,2301
28,Amr Taha Abd El Mohsen El Sayed Mohamed,MCTA,1,1,A,1507
29,Hesham Hesham Mohamed Ellabban,MCTA,1,1,A,2187
...,...,...,...,...,...,...
576,Sherif Sameh Nassief Saweres,MCTA,8,15,3,8976
577,Youssef Hany Onsy Fawzy,MCTA,8,15,3,1789
578,Youssef Samir Hassan Hassan Elsayaad,MCTA,8,15,3,9972
579,Kirollos Atef Beshay Mehany,MCTA,5,16,3,8987
580,Habiba Medhat Mohamed Mostafa,BLDG,8,16,3,5372
581,Youssef Khaled Mohamed Abdelrehim,BLDG,8,16,3,2695
582,Ahmed Emad Anwar Elsayed,CESS,8,16,3,3597
583,Ahmed Mohamed Fathy Mohamed Mousa,CESS,8,16,3,6389
584,Ali Amr Ahmed Abdel-Salam,CESS,8,16,3,8469
585,Ali Sayed Attia Ali Elganzory,CESS,8,16,3,2073
586,Hazem Shokry Ahmed Ali Mousa,CESS,8,16,3,6638
587,Youssef Ahmed Ibrahim Abdelkader,CESS,8,16,3,7042
588,Adelrhman Alaa Atiaa Mahmoud,COMM,8,16,3,5580
589,Djalila Alaaedine Youssef Kadri,ENVR,8,16,3,5279
590,Hana Emad Abdelbaset Diab,ENVR,8,16,3,8222
591,Karim Mohamed Ragab Mohamed Soltan,ENVR,8,16,3,3500
592,Haneen Gamal Abdel-Azim Saleh,ERGY,8,16,3,3016
593,Hebatullah Shaker Zakie Ramadan Helal,ERGY,8,16,3,8136
594,Youssef Ahmed Mamdouh Mahmoud Elkashef,ERGY,8,16,3,6735
595,Hazem Hassan Ahmed Hazem Elshafey,LAAR,8,16,3,1884
596,Abd El Rahman Tarek Mahdy Ali Youness,MCTA,8,16,3,7159
597,Abdelrahman Ahmed Mohamed Ahmed Morsy,MCTA,8,16,3,3847
598,Ahmed Ashraf Marzouk Abdel Aal,MCTA,8,16,3,2981
599,Ahmed Salah Eldin Mohamed A. Maksoud,MCTA,8,16,3,9076
600,Basel Mohamed Mesbah Abdelsayed,MCTA,8,16,3,9747
601,Hossam Mamdouh Youssef Mansour,MCTA,8,16,3,4973
602,Ibrahim Mohammed Farid Abdulghany Ahmed Fathelbab,MCTA,8,16,3,3769
603,Marawan Osama Mohamed Sherif,MCTA,8,16,3,1416
604,Mohamed Ahmed Hassan Elsayed,MCTA,8,16,3,3206
605,Youssef Mahmoud Massoud Shaiba Nassar,MCTA,8,16,3,8814

### Create a new Column to assign it with Midterm Grade

In [15]:
df1['Midterm_Grade'] = 0

### View the dataframe after modification

In [16]:
df1.head()

,Name,Program,grp,sec,Hall,StudentID,Midterm_Grade
0,Hassan Walid Ahmed Mohamed Kaddah,BLDG,1,1,A,9516,0
1,Seif Muhammad Abdelwahab Yakout Elkhodary,BLDG,1,1,A,2158,0
2,Ahmed Essam Eldin Ahmed Kotb Elshafie,CESS,1,1,A,2286,0
3,Aliaa Abd El Karim Bastawy,CESS,1,1,A,1241,0
4,Hager Khaled Mohamed Karkar,CESS,1,1,A,1121,0

In [17]:
cnt = 0
for df1_index, df1_row in df1.iterrows():
    for newDF_index, newDF_row in newDF.iterrows():
#         if newDF_row['StudentID'] != df1_row['StudentID']:
            
#         if df1_row['StudentID'] in newDF_row['StudentID']:
#             print(df1_row['StudentID'])
#             cnt = cnt +1
            
        if newDF_row['StudentID'] == df1_row['StudentID']:
#             df1[df1_row['Midterm_Grade']] = newDF_row['Mark']
#             print(df1[df1_row['Midterm_Grade']])
#             df1.at[df1_row['Midterm_Grade']] = newDF_row['Mark']
#             print(df1_row['Midterm_Grade'])
#             df1[df1_row['Midterm_Grade']] = newDF_row['Mark']
#             df1_row['Midterm_Grade'] = newDF_row['Mark']
#             df1.loc[df1_row['Midterm_Grade']] = newDF_row['Mark']
            df1.set_value(df1_index,df1_row['Midterm_Grade'],newDF_row['Mark'])
            print(df1_row['Name'],'\t',df1_row['StudentID'],"\t",newDF_row['Mark'])
            cnt = cnt + 1
print('Number of Success Matching',cnt)

/home/ghost/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

Hassan Walid Ahmed Mohamed Kaddah 	 9516 	 34
Seif Muhammad Abdelwahab Yakout Elkhodary 	 2158 	 26
Ahmed Essam Eldin Ahmed Kotb Elshafie 	 2286 	 35
Aliaa Abd El Karim Bastawy  	 1241 	 23
Hager Khaled Mohamed Karkar 	 1121 	 28
Islam Tarek Mohammed Tantawi 	 1328 	 28
Mariam Yasser Mohamed Fathy Mohamed Ahmed Rezk 	 7703 	 34
Nourhan Hesham Sayed Ahmed Mazroa 	 1951 	 25
Omar Mohamed Tawfik Elsaeed Elkordy 	 2055 	 34
Ahmed Gamal Ahmed Mahmoud  	 1767 	 36
Ahmed Hossam Eldeen Ibrahim Ahmed  	 1247 	 34
Amir Khader Mahmoud Mohamed Abdelrahem 	 9190 	 36
Amira Ahmed Hassan Ahmed Elsibilgy 	 1039 	 35
Farida Mohamed Ahmed Shalapy 	 1474 	 32
Hana Amr Nour El Dien Mohamed Youssef 	 1062 	 30
Adham Magdy Abdelhady Amin Soliman 	 1986 	 29
Ahmed Mohieldin Mohamed Aly Ghaly 	 1756 	 33
Mohamed Emad Abdelrahman Mohamed Marey  	 1735 	 35
Sarah El Sayed El Badawi Abd El Moneom 	 1868 	 34
Youssef Mohamed Mohamed Mahmoud Farahat 	 2970 	 34
Ziad Ashraf Ali Elsayed Khial 	 1761 	 33
Ahmed Mohamed Elsayed Aldarawy 	 1105 	 36
Mohamed Tarek Hussien Omar Sedik 	 2299 	 17
Hadeel Emad Mohamed Said Rashed 	 1388 	 31
Ahmed Amr Mohamed Kamal 	 1645 	 33
Ahmed Diaa Mohamed Salah Eldin Ahmed Metwally  	 4189 	 26
Ammar Yasser Mahmoud Sleim Salem Elnemr 	 6088 	 31
Amr Balegh Hamdy Ragab 	 2301 	 34
Amr Taha Abd El Mohsen El Sayed Mohamed 	 1507 	 30
Hesham Hesham Mohamed Ellabban 	 2187 	 34
Michel George Saeed Ayad 	 2007 	 34
Mohab Samir Fathi Yassin 	 1775 	 36
Mohamed Abdelrahman Hassan Mahsoub Elmekkawi 	 3229 	 36
Mohamed Adel Lotfy Labib 	 1724 	 30
Mohamed Hatem Adly Elsayed Hassan Elmosalamy 	 1518 	 33
Nadine Medhat Maher Mokhtar Zaki 	 1223 	 25
Reem Ahmed Sadek Ahmed Abdelhay Eissa 	 1490 	 36
Youssef Reda Mohamed Mounir Metwaly 	 1967 	 35
Ziad Amgad Mohamed Abdelmaksoud Alakabawy 	 2150 	 36
Ramez Maged Makram Francis 	 1883 	 34
Mario Makram Lotfy Gabra 	 1457 	 27
Daniel Osama Youssef Ibrahim 	 1517 	 32
Aly Sayed Mahmoud Hashem 	 9970 	 30
Safa Hany Hussein Labib 	 5654 	 28
Marina Mourad Karam Allah Soliman  	 7884 	 29
Nadine Ossama Fouad Abdellatif 	 1603 	 32
Farah Tarek Salaheldin Elgayar 	 1437 	 35
Abdullah Raafat Nagy Abouellil 	 8362 	 37
Ahmed Mohamed Kamel Abdelrazek 	 6450 	 25
Malak Haytham Ahmed Karam Weshahy 	 1196 	 29
Nada Mohamed Zakaria Alazzazy  	 4305 	 29
Omar Adel Elsaid Abdelshafy 	 3916 	 35
Yassmen Khaled Mohamed Rabie Abdel Salam 	 2264 	 28
Ali Hesham Abdelmonem Elgazzar 	 7355 	 29
Mazen Helmi Abdelmotagali Mohamed Mahgoob 	 6834 	 32
Abdelrahman Ahmed Mahmoud Sami Elsabban 	 1115 	 30
Ahmed Islam Saad Shehata Abuel Soud 	 2277 	 24
May Fadl Helil Abdeltawab 	 8064 	 28
Yousef Sherif Helmy Elalfy 	 5854 	 30
Hamza Abdellah Ahmed Abdellah 	 7231 	 36
Mohamed Mamdouh Ibrahim Abdelrahman 	 8906 	 25
Muhab Khaled Muhammed Farid Elkalyoubi 	 6061 	 37
Yasmin Haitham Abdelmoaty Mamoud 	 3102 	 33
Yomna Yousry Mohammed Ibrahim 	 7800 	 28
Abdelrahman Atef Mohamed Eliwa Abouzid 	 8622 	 37
Abdelrahman Mohamed Ezzat Said Mohamed 	 4822 	 31
Bahaeldin Ashraf Bahaeldin Mohamed 	 3811 	 37
Mariam Hany Wadie Michael 	 5465 	 22
Mohamed Saeed Abdallah Mogoda 	 1264 	 33
Nermin Mahmoud Ahmed Elsersy 	 9700 	 21
Omar Abdelrahman Mohamed Rageh 	 4997 	 33
Sohaila Tarek Hassan Abdel Salam  	 5098 	 25
Abram Amir Bahy Ibrahim  	 8104 	 24
Foraya Hany Mahmoud Ahmed Ali Mazroa 	 7248 	 34
Hams Abdel Monaim Atta Tantawy 	 5813 	 36
Mahmoud Gad Mohamed Gad Abdelmoteleb 	 8751 	 30
Manar Mohamed Abd El Rassoul Attia Elkafafy 	 2189 	 29
Ayah Abdelnaser Abbas Abdalhady 	 5595 	 20
Mahitab Mohamed Mohamed Hussein Ali 	 8231 	 36
Omar Mohamed Melad Aly Abdallaa 	 5006 	 31
Rawan Mohamed Abd El-Hady Mahmoud Ghazy 	 5792 	 30
Ahmed Amr Ahmed Mohamed Hassan Behairy 	 5837 	 25
Ahmed Tarek Elshafei Abdelmoneim 	 7773 	 26
Ali Mohamed Abdel-Aziz Saleh El-Halaby 	 5613 	 29
Hanin Essam Sayed Mohammed 	 9927 	 32
Marwa Shukry Elsayed Mohammed 	 3768 	 23
Mikhail Refat Brnaba Gabous 	 7036 	 35
Mohammed Mohsen Ragab Mohamed Elhariry 	 7441 	 33
Omar Ahmed Ahmed Abd Alaal 	 2998 	 36
Salaheldeen Essamudein Salah Abdelhamid 	 5835 	 37
Youssef Omar Elsayed Mohamed Gouda 	 4117 	 30
Abdelrahman Mohamed Eid Khalil Elghazal 	 3080 	 33
Amir Walid Baker Taha Koura 	 2368 	 28
Karim Sayed Mokhtar Mohamed 	 3210 	 28
Mariam Tharwat Kamal Milad 	 2777 	 26
Mohamed Abdelbassit Elshaarawy Abdelazim 	 1156 	 34
Adel Asaad Sarofeim Yohana 	 2949 	 36
Mahmoud Ashraf Mahmoud Ahmed Haggag 	 4128 	 30
Mahmoud Mohsen Mahmoud Amin Abd El Gelil 	 2365 	 31
Mohamed Amr Mohamed Ghonaim 	 2783 	 35
Nourhan Emad Ali Mohamad Ali 	 2626 	 30
Omama Mohammed Alnajjar 	 2797 	 25
Nada Ayman Abd El Qader Eleish 	 3028 	 34
Sandra Sameh George Nasr 	 3172 	 27
Mohamed Mohsen Mekhemar Mohamed Eldars 	 2681 	 34
Omar Ahmed Abdelazim Salem Moubasher 	 2631 	 34
Youssef Mohamed Khairy Azab Heikal 	 9602 	 34
Roula Ashraf Ahmed Mohamed Soliman 	 3068 	 30
Omar Tarek Hamed Mahmoud Saleh 	 7315 	 26
Abdelrahman Hazem Abdelhady Ahmed 	 3368 	 32
Ahmed Hassan Ibraheem Mohammed Abo Salem 	 3072 	 30
Andrew Boulos Alkomos Luka Mousa 	 7917 	 29
Basel Mohamed Ramadan Mohamed 	 8121 	 29
David Waseem Wasfy Wanees 	 3391 	 32
Hazem Ayman Mohamed Ismail Hany 	 2696 	 37
Kareem Mostafa Kamel Abd-Elhamid 	 3364 	 35
Marwan Mohammed Ashraf Mohammed Hamdy Mohammed Elmessiry 	 2920 	 29
Michael Osama Morshid Saleh 	 3132 	 32
Mohamed Hazem Mohamed Elsaid Amer 	 3038 	 30
Mohamed Ibrahim Mohamed Ibrahim Mahmoud 	 2457 	 36
Nour Eldeen Amin Ibrahim Fouad 	 3446 	 37
Omar Emad Eldeen Mohamed Ameen Dahy 	 2958 	 25
Omar Ihab Abo Elfotouh Mohamed El Khouly 	 2768 	 29
Omar Khaled Mahmoud Mohamed Mohamed Masoud 	 3067 	 30
Omar Yasser Mohamed Abdelsalam Salem 	 3010 	 28
Yousef Mohamed Ahmed Hijazi 	 2566 	 28
Mariam Yasser Abdelmageed Meckawy Hemdan  	 3059 	 26
Ahmed Mohamed Rashad Ibrahim Mahgob 	 4336 	 35
David Raymond Albert Mikhael 	 6125 	 23
Amr Emad Ryad Mohamed Ibrahim 	 4953 	 34
Khaled Medhat Mahmoud Khalifa 	 3557 	 37
Ahmed Adham Tawkol Abdel Satar Yousef 	 9139 	 32
Nurhan Ahmed Mostafa Sakr 	 3553 	 24
Youssef Ahmed Soliman Ahmed 	 8135 	 30
Rawan Khaled Mahmoud Mahfouz 	 5367 	 18
Youssef Sherif Mohamed Youssef 	 3054 	 34
Ahmed Atef Abdelraouf Mahmoud Attia 	 8317 	 27
Arwa Ehab Ahmed Abbas 	 2335 	 31
Christeen Tadros Shokralla Salama 	 5276 	 25
Farah Amr Ahmed Tawfik Elbaghdady 	 3689 	 28
Farah Ayman Mohamed Mohy El-Dine Adly  	 4640 	 18
George Gamal Saied Morcos Hanna 	 5510 	 25
Habiba Ahmed Badreldeen Elmashad 	 4143 	 33
Hanya Bassam Ezzat Abdelmeged 	 3791 	 25
Injy Ayman Ahmed Elabassy 	 1151 	 31
Kirollos Wassily Samir Wassily 	 4476 	 25
Laila Hassan Abdelhafiz Mohamed 	 1546 	 26
Maram Motaz Youssef Morsy 	 7312 	 29
Maria Fahim Ebrahim Nasr 	 7019 	 31
Mazen Hassan Moustafa Abd El-Salam Shaalan 	 5302 	 27
Mazin Sherif Abdel Motaleb Soliman 	 7733 	 26
Mennatallah Haitham Mohamad Abdelhamid 	 8674 	 30
Nancy Ahmed Elsayed Rayya 	 4865 	 28
Nourhan Ahmed Mohamed Mostafa  	 4462 	 24
Pola Sameh Kadry Fawzy 	 1942 	 26
Rania Mohamed Salah Eldin Mohamed 	 2080 	 35
Sara Amr Said Aly Ibrahim Kandil 	 1813 	 32
Sara Atef Mohamed Abd El-Baky Abd El-Wahed 	 3043 	 19
Shereen Ahmed Mahmoud Aly 	 1678 	 29
Tasneem Osama Ramadan Shebl 	 3208 	 24
Tasnim Mohamed Mabrouk Abdelfrag Mabrouk 	 5545 	 26
Yasmin Ehab Fayez Abd El Aziz 	 8386 	 29
Yousef Shrief Helmy Abdel Dayem Alkamash 	 2953 	 24
Omar Waleed Mohamed Nabih Elgohary 	 3669 	 26
Abdelhay Nader Abdelhay Abouzayed 	 9033 	 22
Daniel Ayman Abadir Fahim 	 4665 	 33
Mazen Khaled Mohamed Faek Amin 	 3632 	 37
Mohamed Hatem Abd El Azim El Awady 	 3449 	 31
Zeinab Hossam El Din Mohamed Abdallah Draz 	 2994 	 27
Ahmed Hany Ibrahem Mohamed Abd El Atty 	 5328 	 24
Kerolos Farouk Shafek Michael 	 3751 	 28
Marwan Mohamed Abdel Aal El-Sayed Hassan 	 5520 	 22
Abdulrahman Saeed Mohammed Suliman 	 8700 	 25
Farah Amr Abd Elfatah Mohamed Ali 	 3784 	 20
Hadir Mahmoud Taha Abd Elgawad Youssef 	 5000 	 30
Noor Eldin Talaat Ezzat Abd Elrahman Elsherbiny 	 3826 	 30
Osama Alaa Shoukry Shaban 	 5205 	 33
Shehab Eldeen Khaled Mahmoud Elsayed Elhossary 	 4142 	 35
Sondos Mohamed Ismail Aly Youssef 	 4632 	 24
Zyad Yasser Abdallah Ali 	 4353 	 23
Ahmed Emad Said Ebrahim 	 4955 	 26
Amr Mohamed Ahmed Abd El Kader Abd El Zaher 	 4237 	 36
Amr Mostafa Hussein Saad 	 9278 	 28
Hana Yasser Amged Mohamed El Sokkary 	 5007 	 24
Islam Sameh Abd Elhadi Ali 	 4842 	 23
Mohamed Hesham Ali Mohamed 	 4438 	 34
Nouran Ahmed Abd Elhameed Mohamed Saad 	 4496 	 26
Nourhan Ayman Aly Reda Mohamed El Adl  	 5425 	 33
Omar Mohamed Mahmoud Helmy Abdul Aty 	 3919 	 17

Reda Mohsen Reda Gebril 	 5141 	 29
Salma Osama Mohamed Kamal Sarhan 	 5097 	 27
Zeyad Magdy Ibrahim Mohamed Elgammal 	 5277 	 30
Jano Wael Ramzy Gad 	 7949 	 29
Mohamed Magdy Mostafa Sayed Ahmed Ebid 	 5160 	 26
Assem Abdelaziz Mohamed Salah El Din Hmouda 	 2251 	 33
Omar Abdelraouf Abdallah Moussa Mohamed 	 4214 	 35
Ahmed Saieed Mohamed Mahmoud Esmail 	 4437 	 27
Amr Anwar Amen Emam 	 4576 	 16
Amr Fakher Ahmed Farid Aly 	 3910 	 23
Assem Khaled Farouk Morsi El-Barky 	 4802 	 31
Carinne Achraf Chawky Khalil 	 4414 	 18
Mohamed Ali Mohamed Ali 	 3988 	 32
Omar Maamoun Abd El Azizi Bayoumy 	 5537 	 16
Omar Tarek Omar Tolba Zayed 	 4661 	 35
Reem Gamal Abbas Mohamed Abdallah 	 4515 	 24
Roni Emad Yassa Marzouk Khella 	 3858 	 35
Youssef Sherif Ahmed Shawky Mohamed Osman 	 2723 	 28
Ahmed Mohamed Abdel Aziz Alziaty 	 6020 	 22
Andrew Saied Labib Barsom 	 5886 	 30
Mariam Mohamed Mostafa Abdelhamid 	 5612 	 24
Abdelrahman Aly Hassan Mohamed Gouda  	 5468 	 27
Kareem Ayman Farouk Hassan  	 6994 	 37
Mostafa Lotfy Mostafa Shehata Hatab 	 6000 	 28
Nour Eldien Khaled Ahmed Alsayed Stait 	 5722 	 26
Omar Mohamed Lotfy El Said Mohamed Hassaballah 	 5606 	 34
Seif Ahmed Elsayed Elewa 	 5662 	 28
George Hanna Shalaby Mansour 	 5616 	 24
Mohamed Ashraf Fathy Mohamed 	 5993 	 30
Youssef Mohamed Mostafa Mansi 	 5848 	 34
Aya Sobhi Abdel Halim Abdel Aziz 	 6312 	 24
Farah Ahmed Muhamed Fawzy Abouelazm 	 3716 	 28
Farah Mohamed Mahmoud Mahmoud Salama 	 6836 	 28
Habiba Ahmed Seif Elnasr Mahmoud Elgarhy 	 9626 	 31
Hania Mahmoud Ibrahim Mohamed Eldessouky 	 8680 	 22
Rama Waleed Ahmed Elsayed 	 2573 	 31
Rima Ahmed Abdallah Mostafa 	 2479 	 28
Safa Abdelfattah Abdelaziz Abdelfattah 	 1856 	 29
Salma Ayyad Hegazy Ali 	 2056 	 23
Sara Tarek Abdelrahman Mohammed 	 8608 	 22
Sherry Samir Wassef Aziz 	 3465 	 26
Wegdan Mohamed Hossam El Din Mohamed Omar Faydullah 	 3860 	 27
Yara Mamdouh Rashad Mahmoud 	 9720 	 29
Yehia Mohamed Mahmoud Elharras 	 2014 	 32
Zeina Ashraf Yahya Badiee 	 5226 	 30
Ziad Ashraf Saber Ali Mohamed 	 8403 	 27
Nour El-Din Mohamed Hesham Farouk Abdelghany  	 5806 	 34
Nancy Nashaat Samir Habib 	 3376 	 31
Nour Hossam Hassan Ali 	 5954 	 19
Abdelrhman Hany Ahmed Mohamed Eissa 	 5707 	 28
Amr Salah El-Deen Ahmed El-Sayed 	 6049 	 33
Eslam Khaled Abdelhalim Elsokkary 	 6123 	 32
Mohamed Khaled El Saeed Mohamed El Hady 	 5868 	 25
Osama Samy Abdel-Hamid Hassan Tayel 	 5570 	 33
Rodina Tarek Mohamed Rashad 	 2081 	 23
Yomna Hussien Mohamed Abd El Hamid Mahmoud Aly Araf 	 5794 	 29
Zeyad Hassan Ibrahim Abdelaziz 	 5670 	 35
Hager Essam Abdellatife Abdelsamie 	 7461 	 24
Mario Adel Mahfouz Athansius Mikhaeel  	 9517 	 28
Mohamed Ayman Mohamed Gamal El Deen Ahmed Shafik 	 7841 	 28
Sara Hatem Mohamed El Agamy 	 6758 	 17
Yasien Hamdy Kamal Abdelazim 	 6337 	 26
Youssef Hossam Abdelhamid Mohamed 	 6498 	 31
Hassan Adel Hassan Hassouna 	 1726 	 31
Mazen Mostafa Fawzy Moussa 	 2491 	 33
Mohamed Sayed Awwad Badawy 	 7298 	 28
Mohamed Yasser Abdelsamad Hassan 	 7713 	 28
Omar Mohamed Ahmed Mohamed Elnemr 	 7326 	 32
Omar Yehia Abdelfattah Mohammed 	 7177 	 32
Salma Ehab Mohamed Kamal Hassan 	 6253 	 33
Sara Omar Mohamed Zaghloul Youssef 	 7605 	 25
Zead Hani Ali Rashed Salah-Eldin 	 6573 	 27
Hager Ahmed Mohamed Ibrahim Hassan 	 6623 	 21
Jovany Ehab Zarif Fahmy 	 9036 	 28
Mahmoud Mourad Youssef Ahmed 	 6555 	 29
Hassan Ali Hassan Ali Koura 	 6471 	 32
Kareem Abdelhameed Mohamed Hassan Elnahas 	 6194 	 28
Karim Alaa Mohamed Mohamed Mousa 	 7486 	 21
Salma Mohamed Mostafa Mohamed Elkhayat 	 6361 	 19
Ehab Khaled Elsayed Hassan Mohamed Khater 	 6929 	 30
Fady Magdy Hafez Said 	 7402 	 29
George Rafik Micheal Makram 	 6973 	 28
Hussam Elsayed Mohamed Elsayed Affan  	 6670 	 22
Merna Milad Mikhael Henen 	 7749 	 25
Mohamed Ahmed Abdelmotaleb Shoaib 	 6395 	 32
Mohamed Ayman Mohamed Khalil  	 7573 	 28
Mohamed Emad Fawzy Farag Mohamed 	 6182 	 34
Mostafa Amr Abolela Hegazy 	 7626 	 28
Mostafa Hesham Saeed El Behairy  	 7502 	 32
Omar Mohamed Atfi Selim Hassan 	 6812 	 28
Omar Samer Mahmoud Samy Shalaby 	 6652 	 27
Sherif Ahmed Naiem Mohamed Mostafa 	 6546 	 27
Youssef Emil Sobhi Soliman 	 7616 	 27
Youssef Mohamed Mahmoud Ibrahem Zied 	 6528 	 18
Antonios Malak Eid Labib 	 8536 	 28
Khaled Abdelrahman Mohamed Mohamed 	 9874 	 34
Lamis Hesham Hussien Zaher 	 9034 	 28
Mohamed Ahmed Mohamed Okasha 	 8206 	 31
Mohamed Atef Farouk Abd El Ghany  	 8343 	 25
Sherif Hamdy Elsayed Mohamed Abed 	 8079 	 29
Zyad Hamdy Sayed Ahmed Mohamed 	 8689 	 29
Ahmad Salama Abdelaziz Salama Salama 	 8805 	 36
Amr Issa El-Sayed Mohamed Twafik 	 8601 	 22
Mohamed Ahmed Mohamed Badr Fahmy 	 8994 	 30
Muhammad Ashraf Ali Bahgat 	 8083 	 32
Saher Ahmed Abd-Elfattah Saleh Seada 	 9163 	 28
Salma Ahmed Abdelaziz Shalaby 	 7989 	 28
Yousef Mohamed Shafik Khalil Moustafa 	 8661 	 31
Ziad Amr Mohamed Riad 	 7855 	 27
Farida Mohsen Mahmoud Attia 	 8756 	 33
Habiba Ayman Mohamed Abdelfaheem 	 7924 	 23
Nardeen Sobhy Deryas Habib 	 8882 	 33
Rowan Mohamed Sayed Ahmed Hindawy 	 8346 	 26
Bassel Amr Mohamed Gamal El-Din Salam 	 8930 	 33
Joseph Fakher Farid Rezk Daoud 	 2605 	 33
Joseph Medhat Fekry Mina 	 8051 	 24
Omar Magdy Moustafa Abd El-Kader 	 3755 	 22
Yasmina Amr Elsayed Ahmed Abdelkareem 	 9043 	 33
Youstina Hany Nabil Iskander 	 9016 	 31
Ahmed Magdy Abd El Sattar El Said Sattla 	 8765 	 33
Ahmed Ossama Elsaid Foaad Elsaid 	 8506 	 35
Amir Wael Abd El-Hamid Shebl Attia 	 8978 	 34
George Osama Fakhru Nashed 	 2831 	 32
Ibrahim Mohamed Salah Eldin Hassan Abdelhalim 	 8302 	 35
Jumana Ayman Mohamed Fawzy  	 7846 	 27
Maged Medhat Mounir Soliman 	 5557 	 35
Mahmoud Magdy Mahmoud Elasmar 	 8983 	 32
Omar Ebrahem Elbehairy Youssef 	 8107 	 25
Omar Khaled Mahmoud Elnaggar 	 8881 	 31
Seif Eldin Tarek Moustafa Ewais  	 8003 	 31
Thomas Medhat Mounir Botros 	 8912 	 28
Youssef Ahmed Maher Shahin 	 8207 	 29
Ziad Yasser Mohamed Mahmoud Rashad 	 2196 	 32
Ibrahim Saad Mohamed Sayed 	 2562 	 27
Mazen Mohamed Ahmed Abd Elkader 	 1582 	 31
Mohamed Eiad Adel Ibrahim Sheta 	 8500 	 31
Omar Wael Hassan Abdelkader Eltanamly 	 9358 	 27
Amgd Bassam Heikal Abd El-Hamid Heikal 	 9448 	 32
Ibrahim Mohamed Roushdi Abbas 	 1668 	 30
Manal Ehab Mohamed Mohamed Moussa 	 9819 	 34
Minette Essam Gamal Sourial 	 9468 	 32
Mohammed Ali Mahmoud Abd-Elrahman Kassap 	 9915 	 32
Mostafa Essam Mohamed Bayomy Helal 	 9203 	 29
Mohamed Khaled Abolfotoh Kotb Arafat 	 4272 	 25
Mostafa Adel Abdel-Samea Hamed 	 1386 	 33
Youssef Mohamed Ahmed Morsy Nada 	 4975 	 33
Zyad Ahmed Aly Hedar Yakan 	 9538 	 32
Chehab Eddine Mohamed Amr Ahmed Mohamed Hassan Hachem 	 4672 	 33
Esraa Ahmed El-Metwaly El-Shawaf 	 9649 	 32
Farah Mohamed Mahmoud Habib 	 9566 	 32
Maged Nagy Wadea Herz 	 9495 	 34
Mina Amir Shafik Shehata Botros 	 3720 	 34
Ahmad Mohamed El-Sayed Abd El-Gayed Barakat 	 9613 	 35
Ahmed Mohamed Ahmed Abdelrahman Belal 	 4670 	 36
Ali Yasser Attia Omar 	 1309 	 32
Amr Mahmud Muhammad Elwan 	 9716 	 32
Aysenur Mustafa Sevki Bag 	 9780 	 24
Eman Mohamad Mahmoud Mohamad Noaman 	 9357 	 34
Mohamd Mohamed Ashraf Mohamed Fathy Kabil 	 9664 	 31
Mostafa Mohsen Mohamed Aly 	 6650 	 33
Nada Essam Mohamed Abdelkader Elmenabawey 	 9699 	 33
Omar Emad Fathy Muhmmed Ahmed 	 3777 	 33
Samuel Youssef Sobhi Ibrahim 	 9741 	 26
Seif Eldeen Wessam Mohamed Fenoun 	 3018 	 35
Shady El-Sayd Abd El-Aziz Ibrahim Mostafa Ghonim 	 9319 	 28
Shady Sherif Shaker Erian 	 3861 	 33
Taher Mostafa Taher Hussien 	 5152 	 33
Yara Hatem Mohamed Farouk Khaled 	 9209 	 32
Yasmin Esam Eldin Amin Zaki Alsaid 	 3966 	 18
Youseif Hussein Mahmoud Mohamed 	 5035 	 34
Ziad Ayman Mohamed Abdallah Emara 	 9505 	 36
Engy Ahmed Farouk Mohmmed 	 8853 	 22
Mahmoud Reda Abdelazem Abdellatef 	 9933 	 27
Omar Yousry Kamal Mohamed Fayad 	 9002 	 27
Youssef Ashraf Ahmad Mohameden Shalaby 	 6536 	 26
Emad Mostafa Mohamed Abd Elhamid El-Khashab 	 1003 	 36
Ingy Mysara Mohamed Mostafa Kamel 	 5207 	 33
Mohamed Mostafa Abdalla Abdelhallem 	 9474 	 30
Nada Tarek Saied Aly Abdelkhalek 	 8563 	 34
Ziad Amir Fekry Amin Abdelmalek 	 1696 	 22
Marina George Naguib Hanna 	 2759 	 26
Raghda Ahmed Mohamed Lotfy Ghareeb 	 9589 	 14
Ali Morsi Mahmoud Morsi El Bhrawy 	 3508 	 26
Mohamed Ahmed Metwaly Abdelwahed 	 3991 	 29

Habiba Sherif Ahmed Khalil Abou Elela 	 7386 	 30
Rahma Ahmed Hesham Mohamed Mostafa 	 9374 	 27
Sara Ashraf Helmy Gamal Amin 	 9723 	 29
Ola Mohamed Emad Elnaggar 	 7865 	 29
Hossam Mohamed Hafez Abdelsalam 	 9690 	 33
Mohamed Alaa Eldin Mohamed Ibrahim  	 1851 	 21
Mohamed Sherief Mohamed Farid 	 4006 	 32
Mohand Aymn Abd El-Kader Elkilany 	 6298 	 24
Muhammed Abdelatef Saber Habeb 	 6971 	 26
Omar Hussein Mohamed Hussein 	 1265 	 27
Omar Medhat Abdelraouf Mohamed Shaaban 	 9463 	 30
Omar Shawky Mohamed Abdelhady 	 5316 	 32
Shaher Elhoseny Elhoseny Elhoseny 	 2891 	 25
Ahmed Emad Abdulsalam Hassan 	 1018 	 24
Ahmed Mohamed Ahmed Ali 	 9313 	 36
Kareem Mohamed Abdelhamid Ragaa Elsawah 	 2027 	 37
Mahmoud Tariq Hamed Abodonia 	 2035 	 32
Mohamed Sameh Said Ali Kotb 	 8884 	 37
Mostafa Ashraf Ibrahim Ali El Feel 	 7611 	 34
Sama Ayman Mokhtar Amin 	 7873 	 36
Zeyad Magdy Mostafa Ibrahem 	 4163 	 34
Mohamad Sherif Mohamad Mahmoud Shaaban 	 5784 	 36
Mohamed Eslam Mohamed Mosa 	 5061 	 29
Mostafa Ahmed Hesham Hammad Ahmed  	 9004 	 35
Yomna Walid Fathy Wafik 	 1576 	 31
Ahmed Medhat Mohamed Aly Nagy 	 7845 	 30
Ahmed Mohammed Mahmoud Mohammed Sayed Ahmed Khorkhash 	 7455 	 37
Omar Bahaa Eldein Ahmed Abdelnaby 	 7910 	 29
Hana Hazem Mohamed Salah Eldin Ibrahim 	 2261 	 25
Mariam Mohammed Haytham Abdelwahab Abdelwahab Lotfy 	 9466 	 25
Sara Tayseer Ahmed Mohamed Attia 	 1783 	 29
Sarah Mostafa Mahamoud Hassan 	 4477 	 24
Aya Yasser Salah El Din Abdelhamid 	 5396 	 27
Haidy Emad Samir Abouelnasr  	 4188 	 35
Kareem Ayman Abdulrahman Ibrahim Alhinawey 	 2322 	 29
Mahmoud Ebrahim Abdelhamed Aboelenin 	 8392 	 32
Mazen Mahmoud Abdel Hafeez ظگAhmed 	 7426 	 34
Mostafa Amr Mohamed Abd El Azim 	 1431 	 28
Mostafa Hesham Abd El Raouf 	 6951 	 29
Nabil Walid Nabil Khodair 	 9073 	 33
Omar Hany Mahmoud Muhammad 	 3456 	 33
Youssef Mohamed Ahmed Ahmed Abouraya 	 5796 	 27
Ahmed Hesham Ahmed Sakr Sakr Hegazy 	 2397 	 24
Daniel Tarek Lewis Saad Hanna El Shabrawy 	 1185 	 30
Mohamed Ayman Hassan Abdel Aziz 	 1252 	 34
Ahmed Gamal Mohamed Mohamed Dawood 	 6096 	 16
Mark Emad Aziz Wassef Ghali  	 3630 	 30
Remon Emad Francis Attallah 	 1679 	 27
Shehab El Din Adel Nassef Attia 	 3863 	 25
Yusuf Sameh Fawzi Mohamed Elshall 	 1399 	 31
Ahmed Emad Eldin Mahmoud Heagzy 	 1271 	 37
Tasneem Mohamed Abd El Mounim Abd El Rahman Mansour 	 5892 	 27
Hibatallah Emad Abdelaziz Mahmoud 	 2169 	 29
Ziad Alaa Mohamed Ewais 	 2033 	 24
Anton Anwar Rizkallah Nazeer 	 3663 	 36
Habiba Tullah Mohammed Abdallah Mahfouz Foudah  	 4511 	 28
Farah Hesham Mohamed Abas 	 1382 	 32
Omar Khaled Osman Abdellatif Ghonemy 	 1498 	 25
Zeinab Mahmoud Abdelminem Ali 	 1047 	 26
Abdel Rahman Mohamed Shemies 	 9565 	 25
Abdelrahman Samer Mahmoud Khattab 	 1673 	 31
Adham Magdy Abdel Hay Soliman 	 2242 	 31
Karim Mohamed Helmy Ahmed 	 5900 	 38
Mark Awad Helmy Zakhary 	 1692 	 36
Marina Ehab Adly Ibrahim 	 1809 	 29
Fady Ehab Nagy George 	 6069 	 32
Ahmed Mohamed Hamed Mohamed El Gendy 	 6561 	 22
Mohamed Mohsen Ahmed Abd El-Fattah El-Dafrawi 	 6786 	 33
Mohamed Nabil Hussain Abd El Halim Hemida 	 4235 	 30
Sohaila Ahmed Mohamed Faried Hassan Shaker 	 4680 	 27
Ziad Mahmoud Ahmed Allam 	 2278 	 32
Abdel Rahman Emam Ali Sadek Kassab 	 3602 	 35
Amany Diaael Din Abdelrahman 	 2875 	 29
Amr Tarek Mohamed Reda Eldib Ahmed Mohamed Eldib 	 2992 	 25
Farah Essam Thabet Abdel Rehim 	 3448 	 23
Hazem Ahmed Youssef Ibrahim 	 4060 	 32
Hossam El-Din Mohamed Mostafa Ahmed Hammam 	 4607 	 33
Madonna Bassem Joseph Fawzy 	 5194 	 33
Marline Moheb Youssef Rizk Riad 	 6237 	 37
Marolla Mosaed Eshak Mahrous 	 1843 	 31
Mira Ihab Shehata Awed 	 3242 	 33
Mostafa Mohammad Mohammad Shams Eldeen 	 6781 	 30
Ahmed Abdelhamid Ahmed Abdelhamid Ahmed Hussein 	 2858 	 30
Asala Abdelraouf Osman Abdelraouf Hegab 	 4145 	 28
Dareen Sameh Ahmed Ahmed Soliman 	 4198 	 25
Daniel Maged Magdy Eskander 	 2424 	 34
Daniel Mosaad Mikhael Sorour 	 5589 	 31
Obay Jamal Hamdi Abdelhamed Alkersh  	 9781 	 27
Basma Hesham Saad Hassan Helmy 	 2612 	 28
Eman Khaled Ahmed Ibrahuim  	 9713 	 25
Ilaria Refaat Ghobrial Messiha 	 3050 	 25
Mariam Youssef Ibrahim Mikhail 	 3882 	 32
Ahmed Ali Mahmoud Hassan 	 2517 	 33
Ahmed Mohab Hassan Saleh 	 2710 	 32
Eslam Gamal Mohamed Mohamed Mohamed Abdou 	 2470 	 29
Omar Ayman Mohamed Fathy Mohamed 	 5150 	 34
Youssef Mohamed Said Ahmed Naguib 	 3637 	 33
Ziad Hamdy Rashad Abd El Hafez Soliman Egez 	 3808 	 32
Hoda Mohamed Mohamed Elshamy  	 6246 	 22
Omar Hossam El Din Galal 	 5845 	 32
Ammar Moataz Saad Ali Mokhtar 	 6278 	 33
Farah Loay Hamed Alanany 	 7388 	 25
Haidy Ahmed Mohamed Rafaat 	 5656 	 32
Mohamed Mokhtar Abdelrasoul Mohamed 	 7232 	 36
Mohamed Tamer Mohamed Abdelhameed Bedair 	 8729 	 28
Nadin Ahmed Ali Ahmed Alashwat 	 6472 	 27
Shehab Mohamed Ibrahim Khalil Mossaad 	 7213 	 34
Sohaila Mohamed Anwar Abbass 	 6717 	 26
Youssef Maher Nader Halim 	 6713 	 37
Abdelrahman Mohamed Mohamed Mohamed El Monady 	 6353 	 29
Hossam Mohamed Saed Ramadan El Esnawy  	 3953 	 26
David Yousef Fawzy Fakhry  	 6397 	 31
Dina Ashraf Farid Ahmed 	 6267 	 28
Nada Tarek El Saed Basal 	 6768 	 34
Raghad Sameh Hassan Hassan Bermo 	 6651 	 31
Nardine Yousry Kamel Megali 	 6427 	 25
Yomna Osama Mohamed Badr Badwy 	 6550 	 36
Afred Fayez Fahim Dawood 	 7071 	 30
Ahmed Amin Nabih Amin Ayyad 	 9892 	 33
Ahmed Sameh Mohamed Elbellehy 	 7305 	 30
John Ashraf Adeeb Meilad 	 5411 	 23
Karim Amr Fawzy Mohammed 	 7157 	 23
Mohamed Ali Dahy Sayed 	 6381 	 23
Mohamed Ezzeldeen Mostafa Shehata 	 7039 	 24
Mohamed Hesham Fathy Mohamed  	 7328 	 26
Mohamed Reda Tarfia Amin Mohamed 	 3457 	 33
Mohammed Ashraf Saeed Mohammed Marzouk Eladwy 	 5496 	 35
Safia Medhat Abdulaziz Elsayed 	 7367 	 34
Yehia Ashraf Fouad Mahmoud Eldiasty 	 9898 	 33
Yousif Elsayed Ibrahim Hamed 	 7140 	 35
Youssef Wail Masry Abdelhamid Hannourah 	 5216 	 33
Louay Saeed Mohammad Mohammad Al Sabbagh 	 7551 	 29
Omar Alaa Eldin Mohamed Esam Eldin Hasen Rasheed 	 9390 	 36
Abdel-Rahman Ibrahim El Said Ahmed Megahed  	 7423 	 33
Dona Samir Adly Samy Klds 	 7377 	 30
Kareem Amr Abdelsamie Abdelrahman Younes 	 9093 	 36
Laila Mohamed Mohamed Abdelfattah Aborizka 	 9654 	 38
Mariam Mahmoud Fawzi Mostafa Galal 	 1092 	 28
Nouran Ahmed Hassan Hussein 	 4281 	 33
Aly Mazen Mohammed Selim Asker 	 9123 	 36
Malak Mohamed Gadelrab Abdou Madkour 	 9114 	 27
Omar Fouad Abdulazim Mohamed 	 8618 	 26
Steven Sameh Refaat Fahim 	 9325 	 33
Eman Ahmad Mohammad Abdelhaleem Diab 	 9061 	 30
Mohammed Atta Ahmed Ali Ahmed 	 8693 	 33
Nahla Magdy Ibrahim Al-Sherbiny 	 9306 	 30
Aliaa Mohamed Mohamed Diaa Eldin Ahmed Zaki 	 9183 	 20
Emmanuel Youssef Shafik Salama 	 5783 	 28
Makar Assad Eid Asssad 	 8583 	 22
Maria Yasser Abdelmalek Azer 	 8817 	 31
Mina Marcus William Makram  	 8407 	 32
Peter Ishak Refaat Ghitany 	 9079 	 28
Youssef Mohsen Ahmed Abdul Ghany Alsabban 	 9253 	 30
Abdelrahman Hossam El Din Ezzat 	 9452 	 34
Ahmed Mohamed Abolabas Hassan Swelam 	 2129 	 35
Habiba Ahmed Abdel Raouf Abdel Fatah Azab 	 7572 	 25
Maryam Ahmed Galal Nouh 	 2824 	 34
Nehal Gamal Mohamed Abdel Tawab Mohamed 	 9678 	 32
Nour Amr Mohamed Rassem 	 8559 	 30
Aly Ahmed Nabil Elrayes 	 8082 	 26
Ebrahim Abdelghfar Ebrahim Abdelghfar 	 8600 	 34
Mohamed Eyad Sayed Abdallah Khalaf 	 8431 	 34
Mohanad Samy Morsy Mohamed 	 1839 	 29
Yousef Ehab Mohamed Anwar 	 7625 	 26
Ziad Hisham Fouad Ibrahim Radwan  	 9550 	 35
Ahmed Adel Bakr El Morshdy 	 1491 	 28
Hesham Yasair Mahmoud Alsebaay 	 3138 	 26
Omar Ossama Salah Eldin Ahmed Elshamy 	 8037 	 35
Reem Kamel Mahmud Ibrahim 	 7785 	 24
Salah El Din Amr Ali Osman Hegazi 	 6548 	 26
Seif Sherif Kamal Eldeen El Sadek Elwan 	 2936 	 36
Ahmed Gamal Makram Abd Elglil 	 2888 	 30
Ranem Wael El-Said Mohamed Draz 	 6097 	 19
Rana Ayman Mohamed Mustafa Kamel Ahmed 	 2550 	 31
Morcos Akram Sabry Said 	 7558 	 32
Omar Khaled Hassan Abd El-Rahim 	 5444 	 33
Lamis Sherif Elsayed Mohamed Morsy Arafat 	 8004 	 28
Islam Mohamed Mohamed Mamdouh Mohamed Eissa 	 7549 	 27
Moomin Yousef Mohamad Moawad Wanas 	 8394 	 33
Abdelrahman Amr Mohamed Elaraby Mohamed Rabie 	 2413 	 28
Abdelrahman Tarek Ali Nagub 	 9714 	 32
Ahmad Ossama Ahmad Aboelkassem 	 6575 	 29
Ahmed Wael Ahmed Mohamed Nassar 	 8080 	 36
Karim Yousry Elsayed Abdelbaky 	 6052 	 36
Mariam Wael Mohamed Ismail 	 9537 	 30
Maryam Mohamed Mohamed Mahmoud Abdelrahman 	 8171 	 35
Mena Kuzman Matta Kuzman 	 7040 	 36
Mohamed Abdel Samie Mohamed El Bakry 	 6791 	 24
Noureldeen Waleed Hassan Morgan 	 3927 	 34
Omar Mohamed El Sayed Arafa 	 5249 	 28
Omar Muhammad Abdulwahhab Muhammad Mahmoud Gad 	 8397 	 31
Sherif Sameh Nassief Saweres 	 8976 	 29

Youssef Hany Onsy Fawzy 	 1789 	 32
Youssef Samir Hassan Hassan Elsayaad 	 9972 	 36
Kirollos Atef Beshay Mehany 	 8987 	 32
Habiba Medhat Mohamed Mostafa 	 5372 	 27
Youssef Khaled Mohamed Abdelrehim 	 2695 	 30
Ahmed Emad Anwar Elsayed 	 3597 	 38
Ahmed Mohamed Fathy Mohamed Mousa 	 6389 	 38
Ali Amr Ahmed Abdel-Salam 	 8469 	 35
Ali Sayed Attia Ali Elganzory 	 2073 	 38
Hazem Shokry Ahmed Ali Mousa 	 6638 	 34
Youssef Ahmed Ibrahim Abdelkader 	 7042 	 36
Adelrhman Alaa Atiaa Mahmoud 	 5580 	 36
Djalila Alaaedine Youssef Kadri 	 5279 	 29
Hana Emad Abdelbaset Diab  	 8222 	 33
Karim Mohamed Ragab Mohamed Soltan 	 3500 	 33
Haneen Gamal Abdel-Azim Saleh 	 3016 	 29
Hebatullah Shaker Zakie Ramadan Helal 	 8136 	 19
Youssef Ahmed Mamdouh Mahmoud Elkashef 	 6735 	 23
Hazem Hassan Ahmed Hazem Elshafey 	 1884 	 20
Abd El Rahman Tarek Mahdy Ali Youness 	 7159 	 26
Abdelrahman Ahmed Mohamed Ahmed Morsy 	 3847 	 29
Ahmed Ashraf Marzouk Abdel Aal 	 2981 	 35
Ahmed Salah Eldin Mohamed A. Maksoud 	 9076 	 31
Basel Mohamed Mesbah Abdelsayed 	 9747 	 33
Hossam Mamdouh Youssef Mansour 	 4973 	 34
Ibrahim Mohammed Farid Abdulghany Ahmed Fathelbab 	 3769 	 19
Marawan Osama Mohamed Sherif 	 1416 	 28
Mohamed Ahmed Hassan Elsayed 	 3206 	 37
Youssef Mahmoud Massoud Shaiba Nassar 	 8814 	 34
Number of Success Matching 594

### Rename Column 0 with Midterm_Grade

In [18]:
df1.drop(['Midterm_Grade'], axis=1, inplace=True)
df1.rename(columns={0: 'Midterm_Grade'}, inplace=True)
df1.head()

,Name,Program,grp,sec,Hall,StudentID,Midterm_Grade
0,Hassan Walid Ahmed Mohamed Kaddah,BLDG,1,1,A,9516,34.0
1,Seif Muhammad Abdelwahab Yakout Elkhodary,BLDG,1,1,A,2158,26.0
2,Ahmed Essam Eldin Ahmed Kotb Elshafie,CESS,1,1,A,2286,35.0
3,Aliaa Abd El Karim Bastawy,CESS,1,1,A,1241,23.0
4,Hager Khaled Mohamed Karkar,CESS,1,1,A,1121,28.0

### Check for ungraded Student

In [19]:
df1['Midterm_Grade'].isnull().sum()

12

In [20]:
df1[df1['Midterm_Grade'].isnull()]

,Name,Program,grp,sec,Hall,StudentID,Midterm_Grade
52,Roushan Mohamed Elsayed Ali Kandil,LAAR,7,1,A,5164,NaN
59,Mohammad Hassan Alaa Mohammad Elibiary,BLDG,8,1,A,2370,NaN
92,Yasmin Ehab Abdelhamid Abdelrahman,MCTA,8,1,A,8540,NaN
139,Safie El-Din Nabil Ashry Ibrahim El-Nahas,LAAR,2,3,B,2269,NaN
147,Habiba Khaled Farid Mohamed,LAAR,2,3,B,7089,NaN
173,Saif Hani Ali Rashed Slah-Eldin,MCTA,2,3,B,3478,NaN
398,Salma Sameh Abdel Mohsen Mohammed Mahmoud,CESS,5,10,2,3654,NaN
408,Donia Adel Mahmoud Hazem El Hakeem,LAAR,5,10,2,4804,NaN
497,Nouran Amr Abdelmonem Abdelsalam,ERGY,7,13,3,6789,NaN
516,Ahmed Mahmoud Fawzy Elsafty,CESS,7,14,3,9708,NaN
565,Ahmed Mohamed Mahmoud Nassef,MCTA,8,15,3,4303,NaN
567,Asser Ahmed Mohamed Abdelnasser,MCTA,8,15,3,9575,NaN

### Check Name

In [21]:
print('Name: ',df1['Name'].iloc[173])
print('ID: ',df1['StudentID'].iloc[173])
print('Grade: ',df1['Midterm_Grade'].iloc[173])

Name:  Saif Hani Ali Rashed Slah-Eldin
ID:  3478
Grade:  nan

### Save result data in new csv file

In [22]:
df1.to_csv('result.csv')